<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--主配置文件 包含其他配置文件 不定义对象-->
        <import resource="classpath:ba04/spring-s*"></import>
       <!-- <import resource="classpath:ba04/spring-school.xml"></import>-->

</beans>