<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--<bean id="myStudent" class="com.coco.ba02.Student">
                <property name="name" value="威廉姆斯williams"></property>
                <property name="age" value="23"> </property>
                <property name="school" ref="school"></property>

        </bean>&lt;!&ndash;设值注入 调用的set方法&ndash;&gt;-->
        <!--1111111设值注入-->


        <!--2222222构造注入-->
        <bean id="myStudent" class="com.coco.ba03.Student" autowire="byType">
                <property name="name" value="威廉姆斯williams"></property>
                <property name="age" value="23"> </property>
                <!--<property name="school" ref="school"></property>-->


                <!--<constructor-arg name="name" value="小灰灰"></constructor-arg>
                <constructor-arg name="age" value="111"></constructor-arg>
                <constructor-arg name="school" ref="school"></constructor-arg>-->
                <!--<constructor-arg index="0" value="小明明"></constructor-arg>
                <constructor-arg index="2" ref="school"></constructor-arg>
                <constructor-arg index="1" value="19"></constructor-arg>-->
         </bean>
        <bean id="school"  class="com.coco.ba03.School">
                <property name="name" value="中关村小学"></property>
                <property name="address" value="田家堡南路中村"></property>
        </bean>
        <bean id="myDate" class="java.util.Date">
                <property name="month" value="12"></property>
        </bean>
</beans>